.mobile{
  display: none;
}
.more_btn{
  display: block;
  color: #009a32;
  font-weight: 700;
  padding-right: 17px;
  box-sizing: border-box;
  background-image: url(../img/arrow19_r.png);
  background-repeat: no-repeat;
  background-position: right center;
}

/* 첫번째 */
.slide{
  padding:  0 23px;
  box-sizing: border-box;
}
.slide_wrap{
  padding-top: 30px;
}
.slide_wrap img{
  width: 100%;
  border-radius: 4px;
}
.silde_arrow>ul{
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 30px;
}
.silde_arrow li{
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
}
.swiper-pagination{
  width: 45px;
  position: relative;
  bottom: 0;
  font-size: 0 !important;
}
.swiper-pagination>span{
  font-size: 12px;
}
.swiper-pagination-total{
  margin-left: 14px;
  position: relative;
}
.swiper-pagination-total::before{
  content: '';
  display: block;
  position: absolute;
  top:calc(50% - 2px);
  left: -9px;
  width: 4px; height: 4px;
  border-radius: 2px;
  background-color: #b3b3b3;
  
}
.silde_arrow a{
  display: block;
  width: 32px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px auto;
}
.slide_prev{
  background-image: url(../img/arrow03_l.png);
}
.slide_next{
  background-image: url(../img/arrow03_r.png);
}




/* 두번째 섹션 */
.thumnail{
  display: flex;
  flex-wrap: wrap;
}
.thumnail>li{
  width: 12.5%;
  padding: 10px 0;
}
.thumnail>li>a{
  text-decoration: none;
}
.thumnail>li div{
  width: 61.22%;
  margin: 0 auto;
}
.thumnail>li div img{
  width: 100%;
}
.thumnail>li h4{
  text-align: center;
  color: #4d4d4d;
}
.new_cate{
  position: relative;
}
.new_cate::after{
  content: '';
  display: block;
  width: 16px;
  height: 21px;
  background-image: url(../img/new_cate.png);
  background-position: 0 -48px;
  position: absolute;
  right: 2px;
  top:2px;
}

/* 세번째 섹션 */
.title_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_wrap>h2{
  font-size: 25px;
  font-weight: 700;
  color: #222624;
}
.setting>a{
  display: block;
  font-weight: 700;
  padding-right: 30px;
  box-sizing: border-box;
  background-image: url(../img/setting.png);
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: right center;
  /* background-color: yellowgreen; */
  color: #4d4d4d;
}

.tab_wrap>ul{
  display: flex;
}
.tab_wrap li{
  margin-top: 10px;
  margin-right: 8px;
}
.tab_wrap a{
  display: block;
  padding: 0 13px;
  color: #4d4d4d;
  background-color: #f2f2f2;
  border-radius: 4px;
  line-height: 37px;
}
.tab_wrap .green_active{
  color: #fff;
  background-color: #009a32;
}
.lst_gallery{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lst_gallery>figure{
  width: calc(25% - 15px);
  margin-top: 30px;
}
.lst_gallery .thum_img{
  position: relative;
  padding-bottom: 100%;
  border-radius: 4px;
}
figure .img_label{
  display: block;
  width: 41px;
  height: 47px;
  background-image: url(../img/scrap.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31px auto;
  position: absolute;
  right: 10px;  bottom: 10px;
}
.thum1_1{
  background-image: url(../img/sugg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum1_2{
  background-image: url(../img/sugg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum1_3{
  background-image: url(../img/sugg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum1_4{
  background-image: url(../img/sugg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum1_5{
  background-image: url(../img/sugg5.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum1_6{
  background-image: url(../img/sugg6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum1_7{
  background-image: url(../img/sugg7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum1_8{
  background-image: url(../img/sugg8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.lst_gallery figcaption{
  font-size: 14px;
  color: #4d4d4d;
  margin-top: 21px;
}

/* 섹션4 */
.tab_more>a{
  display: block;
  font-weight: 700;
  box-sizing: border-box;
  color:  #009a32;
}

.thum_img2{
  position: relative;
  padding-bottom: 66.67%;
  border-radius: 4px;
  background-position: center center;
}
.thum_img2>.img_label{
  display: block;
  width: 41px;
  height: 47px;
  background-image: url(../img/scrap.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31px auto;
  position: absolute;
  right: 10px;  bottom: 10px;
}
.thum_img2>.new_label{
  display: inline-block;
  padding: 0 7px;
  box-sizing: border-box;
  background-color: #e05438;
  color: #fff;
  border-radius: 4px 0;
  font-size: 12px;
  position: absolute;
  left: 0px;  top: 0px;
}

.thum2_1{
  background-image: url(../img/g1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum2_2{
  background-image: url(../img/g2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum2_3{
  background-image: url(../img/g3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum2_4{
  background-image: url(../img/g4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum2_5{
  background-image: url(../img/g5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum2_6{
  background-image: url(../img/g6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum2_7{
  background-image: url(../img/g7.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thum2_8{
  background-image: url(../img/g8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.user_id{
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.user_img{
  width: 33px;
  height: 33px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}
.user_img1, .user_img2, .user_img3{
  background-image: url(../img/nick1.jpg);
  background-size: cover;
  background-position: center center;
}
.user_img4, .user_img5, .user_img6, .user_img7{
  background-image: url(../img/nick2.jpg);
  background-size: cover;
  background-position: center center;
}
.user_img8{
  background-image: url(../img/nick3.jpg);
  background-size: cover;
  background-position: center center;
}
.user_name{
  font-size: 15px;
  color: #4d4d4d;
  padding-left: 10px;
}

.morestory_btn{
  display: none;
}

/* 섹션5 */
.lank{
  padding: 0 23px;
  box-sizing: border-box;
}
.lank .tab_wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.lank_users{
  padding: 50px 40px 30px;
  box-sizing: border-box;
  position: relative;
}
.lank_users> ul{
  display: flex;
  justify-content: space-between;
}
.lank_users> ul>li{
  width: calc((100% - 40px)/3);
  padding: 30px 27px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  position: relative;
}

.lank_users>ul>li>span{
  position: absolute;
  top:0;
  left:0;
  width: 24px;
  height: 24px;
  background-color: #009a32;
  border-radius: 5px 0 5px 0;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.lank_u_img{
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
}
.lank_u_img>a{
  display: block;
  width: 100%;
  padding-top: 100%;
}
.u_img1{
  background-image: url(../img/nick1.jpg);
  background-position: center center;
  background-size: cover;
}

.u_img2{
  background-image: url(../img/nick2.jpg);
  background-position: center center;
  background-size: cover;
}

.u_img3{
  background-image: url(../img/nick3.jpg);
  background-position: center center;
  background-size: cover;
}

.lank_u_txt{
  display: inline-block;
  width: calc( 100% - 80px);
}
.lank_u_txt>div{
  display: flex;
  align-items: center;
}
.lank_u_txt>div>a{
  display: block;
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 700;
  margin-right: 13px;
  position: relative;
}
.lank_u_txt>div>a::after{
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #d3d3d3;
  border-radius: 100%;
  position: absolute;
  right: -10px;
  top: calc(50% - 2px);
}
.lank_u_txt>div>span>a{
  font-size: 13px;
  color: #009a32;
  line-height: 20px;
}
.lank_u_txt>p{
  font-size: 15px;
  padding: 10px 0;
  color: #808080;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 화살표 */
.lank_arrow{
  z-index: -1;
  position: absolute;
  left: -20px; top:50%;
  width: 1240px;
  display: flex;
  justify-content: space-between;
}
.lank_arrow>div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #009a32;
  background-repeat: no-repeat;
  background-position: center center;
}
.lank_prev{
  background-image: url(../img/arrow03_l.png);
}
.lank_next{
  background-image: url(../img/arrow03_r.png);
}

@media (max-width : 1280px) {
  .lank_users{
    padding: 21px 14px 30px;
  }
  .lank_u_img{
    width: 50px;
    height: 50px;
  }
  .lank_u_txt>div>a{
    font-size: 15px;
  }
  .lank_u_txt>p{
    font-size: 14px;
  }
  .lank_arrow{
    width: 95%;
    left: 2.5%;
    z-index: 999999;
  }
}

@media (max-width : 767px) {
  .lank_users> ul>li{
    width: 100%;
    overflow: hidden;
  }
  /* 화살표 */
  .lank_arrow{
    display: none;
  }
}

/* 섹션 6*/
.more_btn{
  display: block;
  color: #009a32;
  font-weight: 700;
  padding-right: 17px;
  box-sizing: border-box;
  background-image: url(../img/arrow19_r.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.travel_wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #4d4d4d;
  padding: 11px 40px;
}
.travel>article>ul{
  border-top: 1px solid #4d4d4d;
}
.travel .img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}
.travel .img1{
  background-image: url(../img/travel1.jpg);
}
.travel .img2{
  background-image: url(../img/travel2.jpg);
}
.travel .img3{
  background-image: url(../img/travel3.png);
}
.travel .txt{
  width: calc(100% - 165px);
  padding: 0 10px;
  box-sizing: border-box;
}

.tit_txt{
  display: inline-block;
  padding-right: 20px;
  box-sizing: border-box;
  background-image: url(../img/place.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px auto;
  color: #222624;
}
.hash_txt{
  font-size: 14px;
  color: #808080;
}
.travel .icons{
  width: 120px;
  height: 15px;
  display: flex;
  align-items: center;
}
.icons>li{
  width: 35px;
  height: 100%;
  padding: 0 20px;
  line-height: 15px;
  color: #222624;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
}
.icons>.heart{
  background-image: url(../img/state_like.png);
}
.icons>.scrap{
  background-image: url(../img/state_scrap.png);
}
.icons>.arrow_r{
  background-image: url(../img/arrow19_r.png);
}


/* 섹션7 싱싱튜브 */
.tube_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tube_wrap>figure{
  width: calc((100% - 40px) / 3);
}

.tube_wrap>figure>div{
  width: 100%;
  padding-top: 56%;
  border-radius: 4px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.tube1{
  background-image: url(../img/vid1.png);
}
.tube2{
  background-image: url(../img/vid2.png);
}
.tube3{
  background-image: url(../img/vid3.png);
}
.tube4{
  background-image: url(../img/vid4.jpg);
}
.tube5{
  background-image: url(../img/vid5.png);
}
.tube6{
  background-image: url(../img/vid6.png);
}

.tube_wrap .time{
  display: block;
  padding: 0 7px;
  background-color: #000;
  color: #fff;
  line-height: 24px;
  border-radius: 0 4px 0 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tube_wrap .paly{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.tube_wrap .paly::after{
  content: '';
  display: block;
  border-left:12px solid #000;
  border-top:7px solid transparent;
  border-bottom:7px solid transparent;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.tube_wrap .scrap{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 41px;
  height: 47px;
  background-image: url(../img/scrap.png);
  background-repeat: no-repeat;
  background-size: 31px auto;
  background-position: center center;
}

.tube_wrap figcaption{
  font-size: 14px;
  color: #222624;
  margin: 21px 0;
}

/* 섹션 8 HOT Keyword */
.keyword{
  width: 100%;
  padding: 60px 0;
  background-image: url(../img/hotkeyword.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #f2faf5;
  overflow-x: scroll;
}
.keyword>ul{
  width: 2400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.keyword>ul>li{
  flex-shrink: 0;
  padding:0 10px;
}
.keyword>ul>li:nth-child(15n-1)::after{
  content: '';
  display: block;
  width: 100%;
  height: 18px;
}
.keyword>ul>li>a{
  display: block;
  padding: 0 30px;
  line-height: 48px;
  border-radius: 34px;
  background-color:  rgba(209,232,218,0.9);
  font-size: 16px;
  color: #3a6b4a;
}

/* 섹션9 MD's Pick */
.pick_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pick_wrap>figure{
  width: calc(25% - 15px);
  margin: 30px 0;
}
.pick_wrap>figure>div{
  width: 100%;
  padding-top: 100%;
  border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.pick_wrap .scrap{
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 41px;
  height: 47px;
  background-image: url(../img/scrap.png);
  background-repeat: no-repeat;
  background-size: 31px auto;
  background-position: center center;
}
.pick1{
  background-image: url(../img/pick1.jpg);
}
.pick2{
  background-image: url(../img/pick2.jpg);
}
.pick3{
  background-image: url(../img/pick3.jpg);
}
.pick4{
  background-image: url(../img/pick4.jpg);
}
.pick5{
  background-image: url(../img/pick5.jpg);
}
.pick6{
  background-image: url(../img/pick6.jpg);
}
.pick7{
  background-image: url(../img/pick7.jpg);
}
.pick8{
  background-image: url(../img/pick8.jpg);
}
.pick_wrap figcaption{
  font-size: 14px;
  color: #808080;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 21px 0;
}
.pick_txt{
  display: flex;
  font-size: 20px;
  font-weight: 700;
  margin-top: 12px;
}
.pick_txt1{
  color: #e05438;
  margin-right: 4px;
}
.pick_txt2{
  color: #b3b3b3;
  text-decoration: line-through;
  margin-right: 4px;
}
.pick_txt3{
  color: #222623;
}


/* 섹션 10 가이드 북 */
.bgGray{
  width: 100%;
  /* margin-top: 80px; */
  padding: 60px 0 30px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.guide_box{
  display: flex;
  justify-content: space-between;
}
.guide_box>article{
  width: calc(25% - 15px);
  margin-top: 30px;
}
.guide_box>article>div{
  width: 100%;
  padding-top: 123%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.guide_img1{
  background-image: url(../img/220729_101531_jpg.jpg);
}
.guide_img2{
  background-image: url(../img/220729_101517_jpg.jpg);
}
.guide_img3{
  background-image: url(../img/220729_095900_jpg.jpg);
}
.guide_img4{
  background-image: url(../img/220729_095848_jpg.jpg);
}

.guide span{
  display: block;
  position: absolute;
  background-image: url(../img/new_guide.png);
  background-position: 0 -295px;
  width: 27px;
  height: 41px;
  position: absolute;
  right: 6%;
  top: 0;
  z-index: 10;
}

/* 섹션 11 싱그러움을 전해보세요  */
.quick_link{
  display: flex;
  justify-content: space-between;
}
.quick_link>div{
  width: calc(50% - 10px);
  background-color: #f2f2f2;
  padding: 28px 40px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quick_link h4{
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 700;
}
.quick_link p{
  font-size: 14px;
  color: #808080;
}

.quick_link span {
  width: 40px;
  height: 40px;
  background-image: url(../img/sp_lv.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.sell_img{
  background-position: -120px 0px;
}
.vvip_img{
  background-position: -80px 0px;
}


/* 옆에 버튼 */
.right_bun{
  width: 60px;
  height: 60px;
  background-color:#009a3e;
  border: 2px solid #008033;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  background-image: url(../img/arrow01_t.png);
  background-repeat: no-repeat;
  background-size: 8px auto;
  background-position: center 18px;
  padding-top: 10px;
  box-sizing: border-box;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.right_bun>a{
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
}



/* 미디어쿼리 */
@media (max-width: 780px){
  .tab_wrap a{
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .thumnail>li{
    width: 25%;
  }
  .thumnail>li>a{
    font-size: 10px;
  }
  .desc{
    display: none;
  }
  .mobile{
    display: block;
  }

  .lst_gallery>figure{
    width: calc(50% - 10px);
  }
  .morestory_btn{
    display: block;
    text-align: center;
  }
  .morestory_btn>a{
    display: inline-block;
    width: 233px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    color: #4d4d4d;
    background-color: #d9d9d9;
    margin-top: 30px;
    font-size: 14px;
  }
  figure .img_label{
    background-size: 19px auto;
    right: 3px;  bottom: 3px;
  }
  .pick_wrap .scrap{
    background-size: 19px auto;
    right: 3px;  bottom: 3px;
  }
  .thum_img2>.img_label{
    background-size: 19px auto;
    right: 3px;  bottom: 3px;
  }
  /* 섹션5 */
  .lank_date{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: #808080;
  }
  /* 섹션6 싱그런여행 */
  .travel .title_wrap{
    margin-bottom: 20px;
  }
  .travel_wrap{
    padding: 20px 15px;
  }
  .icons>.heart{
    display: none;
  }
  .icons>.scrap{
    display: none;
  }
  .icons>.arrow_r{
    background-image: url(../img/arrow19_r.png);
  }
  .travel .icons{
    width: 35px;
  }
  .travel .txt{
    width: calc(100% - 80px);
  } 
  .tit_txt{
    font-size: 15px;
  }
  .hash_txt{
    font-size: 13px;
  }

  /* 섹션7 싱싱튜브 */
  .tube .title_wrap{
    margin-bottom: 20px;
  }
  .tube_wrap>figure{
    width: calc(50% - 10px);
  }
  
  .tube_wrap>figure>div{
    width: 100%;
    padding-top: 56%;
    border-radius: 4px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  .tube_wrap>figure:first-child{
    width: 100%;
  }
  .tube_wrap>figure:last-child{
    display: none;
  }

  .tube_wrap .time{
    display: block;
    padding: 0 7px;
    background-color: #000;
    color: #fff;
    line-height: 24px;
    border-radius: 0 4px 0 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
  }
  .tube_wrap>figure:first-child .paly{
    width: 50px;
    height: 50px;
  }
  .tube_wrap>figure:first-child .paly::after{
    border-left:10px solid #000;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
  }
  .tube_wrap .paly{
    width: 30px;
    height: 30px;
  }
  .tube_wrap .paly::after{
    border-left:6px solid #000;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
  }
  
  .tube_wrap .scrap{
    right: 3px; bottom: 3px;
    background-size: 19px auto;
  }
  .tube_wrap figcaption{
    font-size: 13px;
    margin: 21px 0;
  }

  .lst_gallery figcaption{
    font-size: 13px;
  }
  
  .pick_wrap figcaption{
    font-size: 13px;
  }
  .user_name{
    font-size: 14px;
  }

/* 섹션 8 HOT Keyword */
  .key .title_wrap{
    margin-bottom: 20px;
  }
  .keyword>ul{
    width: 1600px;
  }
  .keyword>ul>li{
    flex-shrink: 0;
    padding:10px;
    box-sizing: border-box;
  }
  .keyword>ul>li:nth-child(15n-1)::after{
    display: none;
  }

  /* 섹션9 MD's Pick */
  .pick .title_wrap{
    margin-bottom: 20px;
  }
  .pick_wrap>figure{
    width: calc(50% - 10px);
    margin: 0;
  } 
  .pick_txt{
    font-size: 16px;
    flex-wrap: wrap;
  }
  .pick_txt1{
    width: 100%;
    margin-right: 0px;
  }

  /* 섹션 10 가이드 북 */

  .guide_box{
    overflow-x: scroll;
  }
  .guide_box>article{
    width: 60%;
    flex-shrink: 0;
    margin: 20px 10px;
  }

  /* 섹션 11 싱그러움을 전해보세요  */
  .quick .title_wrap{
    margin-bottom: 20px;
  }
  .quick_link h4{
    font-size: 15px;
  }
  .quick_link p{
    font-size: 11px;
  }
}